Options -MultiViews
Options -Indexes

RewriteEngine On
RewriteBase /PHPCourseFiles/SimpleBlog/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#RewriteRule ^(.+)$ index.php?%{QUERY_STRING} [L,NC,QSA]
#RewriteRule ^ index.php
